/* make the aurelia app root fill the whole screen as a decent starting point for flex / grid-based layouts */
html,
body,
[aurelia-app] {
  width: 100vw;
  height: 100vh;
  margin: 0;
  border: 0;
  padding: 0;
  overflow-y: hidden;
  overflow-x: hidden;
}

[aurelia-app] {
  overflow-y: auto;
}

/* make router-view render like a div */
router-view {
  display: block;
}
